* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(180deg, #000000 39.25%, #003366 100%);
    color: #e6d8d8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.genre-title {
    text-align: center;
    margin: 50px 0;
    position: relative;
    width: 100%;
    color: #ffffff;
}

.search-bar {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #303030; 
    color: #fff;
}

.search-bar::placeholder {
    color: #ccc;
}

.container {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
}

.review-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal kolom */
    gap: 15px; /* jarak antar grid*/
    padding: 10px;
}

.review-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.review {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.review-header {
    margin-bottom: 10px;
}


.genre-tags {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.genre {
    display: inline-block;
    background: linear-gradient(45deg, #003366, #0066cc);
    color: white;
    border-radius: 4px;
    padding: 3px 8px;
    margin-right: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.review-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-image img {
    width: 100%;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white; 
    display: flex; 
    flex-direction: column ;
    justify-content: center;
    opacity: 0; /* Mulai tersembunyi */
    transition: opacity 0.3s; /* Fade in/out effect */
}

.view-review{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: #ffde59;
    text-align: center;
    padding: 20px;
}

.movie-title{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.3;
    padding: 10px;
    justify-content: left;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1); 
}

.review-image:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}
