@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: "Kanit";
    font-size: 12px;
}


.item .content .title{
    line-height: 70px;
    margin-bottom: 15px;
}

.item .content .description{
    line-height: 35px;
}

.item .content .type{
    margin-bottom: 30px;
    line-height: 30px;
}

.item .content .button{
    margin-top: 20px;
}


a{
    text-decoration: none;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    z-index: 100;
    font-size: 20px;
    margin-left: auto; 
}

nav{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    margin-right: 2rem;
    z-index: 100;
    font-size: 20px;
    margin-left: auto; 
}

header a{
    color: #eee;
    margin-right: 25px;
    padding: 5px 10px;
    transition: 0.2s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


a.active{
    border-radius: 2px;
}


header a:hover{
    color: #ffde59;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dropdown-genre {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0); 
    min-width: 160px;
    max-height: 200px; /* Set a max height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #717171;
    opacity: 1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color to red on hover */
.dropdown-content a:hover {
    background-color: transparent; /* Keep background transparent */
    color: white; /* Change text color to red */
    opacity: 1; /* Ensure opacity remains 1 */
}

.dropdown-genre:hover .dropdown-content {
    display: block;
}


/* slider section  */
.slider{
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    position: absolute;
    left: 5%;
    top: 0;                              
    bottom: 0;             
    margin: auto;          
    padding: 0 15px;
    box-sizing: border-box;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.slider .list .item .content .type {
    color: #ffde59;
    font-size: 25px; 
    font-family: "Kanit", sans-serif;
}

.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
}

.slider .list .item .button button{
    border: none;
    background-color: #003366;
    color: #ffffff;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 2px;
}

.slider .list .item .button .button_{
    display: block;
    padding: 13px;
    gap: 5px;
    margin-top: 15px;
}


.slider .list .item .button button:hover{
    color: #ffde59;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.description   {
    display: block;
    width: 420px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 70px;
    left: 55%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.PrevArrows{
    position: absolute;
    top: 56%;
    right: 22%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center; 
}

.PrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.PrevArrows button:hover{
    background-color: #003366;
    color: #ffffff;
}

.nextArrows{
    display: flex;
    align-items: center;
    position: absolute;
    top: 56%;
    right:3%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nextArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    color: #003366;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextArrows button:hover{
    background-color: #003366;
    color: #ffffff;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .2s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}



.slider.next .list .item:nth-child(2) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
}


.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}


.slider.prev .list .item img{
    z-index: 100;
}

@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}


.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}


@keyframes unshowThumbnail{
    to{
        width: 0;
        opacity: 0;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}