.flip-container {
  perspective: 1000px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.back {
  transform: rotateY(180deg);
}
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.flip-box {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-container.flipped .flip-box {
  transform: rotateY(180deg);
}
.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
/* New styling for better layout */
.custom-padding {
    padding-bottom: 35rem;
}

/*untuk mengatur ikon disetiap menu isi data*/
.input-container {
  position: relative;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 70%;
  transform: translateY(-50%);
  color: #9CA3AF; /* Icon color */
}

.input-container input {
  padding-left: 2rem; /* Make room for the icon */
}

/*typewriter untuk animasi aga subtitle setelah judul dapat gerak animasinya*/
@keyframes typewriter {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blinkCursor {
  from {
      border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
      border-right-color: transparent;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the text is hidden outside the box */
  white-space: nowrap; /* Prevents the text from wrapping */
  border-right: 2px solid rgba(255, 255, 255, 0.75); /* Cursor effect */
  animation: typewriter 3s steps(40) 1s infinite normal both, /* Typewriting effect with looping */
             blinkCursor 300ms steps(40) infinite normal; /* Blinking cursor */
  width: 0; /* Initially the width is 0 to trigger the animation */
}
