
body {
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
}

/* Container untuk update form password */
.container {
    max-width: 400px; /
    margin: 50px auto;
    padding: 20px; 
    background-color: #083493; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
}

/* Form elements */
form {
    display: flex; 
    flex-direction: column; 
}

div {
    margin-bottom: 15px; 
}

label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

/* Input fields */
input[type="email"],
input[type="password"] {
    padding: 10px; /* Padding dalam inputan */
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

/* Input fields focus effect */
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #007BFF; 
    outline: none; 
}

/* untuk buat desain buttonnya */
button {
    padding: 10px; 
    background-color: #007BFF; /
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s; /* untuk berubah warna background */
}

button:hover {
    background-color: #0056b3; 
}

/* Responsive design */
@media (max-width: 500px) {
    .container {
        padding: 15px; 
    }

    h2 {
        font-size: 20px; 
    }
}